<div class="example-container">
    <mat-list #previewPanels>
        @for (templatePanel of templatePanels; track templatePanel) {
        <mat-card appearance="outlined">
            <mat-card-header>
                <mat-card-title>
                    <h6>{{templatePanel.name}}</h6>
                </mat-card-title>
            </mat-card-header>

            <mat-card-content>
                <mat-divider></mat-divider>
                <p>{{templatePanel.hintName}}</p>

                @for (templateSection of templatePanel.templateSections; track templateSection) {
                <div id={{templateSection.sectionName}}>
                    <div *ngIf="templateSection.showHeader">
                        <h6>{{templateSection.sectionHeader}}</h6>
                        <mat-divider></mat-divider>
                        <p>{{templateSection.hintName}}</p>
                        <br />
                    </div>

                    @for (templateField of templateSection.templateFields; track templateField) {
                    <div [ngSwitch]="templateField.inputType">
                        <div *ngSwitchCase="'RADIO_GROUP'">
                            <mat-label>{{templateField.label}}</mat-label>
                            <br />
                            <mat-radio-group id={{templateField.code}}>
                                @for (templateOption of templateField.optionItems; track templateOption) {
                                <mat-radio-button
                                    [value]="templateOption.value">{{templateOption.label}}</mat-radio-button>
                                }
                            </mat-radio-group>
                            <br />
                        </div>


                        <div *ngSwitchCase="'INPUT'">
                            <mat-label>{{templateField.label}}</mat-label>
                            <br />
                            <input matInput id={{templateField.code}} placeholder={{templateField.placeholder}} />
                            <br />
                        </div>


                        <div *ngSwitchCase="'APPAUTOCOMPLETE'">
                            <mat-label>{{templateField.label}}</mat-label>
                            <br />
                            <mat-select matInput id={{templateField.code}} placeholder={{templateField.placeholder}} />
                            <br />
                        </div>


                        <div *ngSwitchCase="'APPCALENDAR'">
                            <mat-label>{{templateField.label}}</mat-label>
                            <br />
                            <!-- <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle> -->
                            <mat-datepicker-toggle matIconSuffix></mat-datepicker-toggle>
                            <mat-datepicker matInput id={{templateField.code}} #templateField.code></mat-datepicker>
                            <br />
                        </div>


                        <div *ngSwitchCase="'CHECKBOX_GROUP'">
                            <mat-label>{{templateField.label}}</mat-label>
                            <br />
                            @for (cField of templateField.childTemplateFields; track cField) {
                            <mat-checkbox>{{cField.label}}</mat-checkbox>
                            }
                            <br />
                        </div>

                        <div *ngSwitchCase="'ARRAY'">

                            @for (gFields of templateField.groupTemplateFields; track gFields) {
                            <mat-card>
                                <mat-card-content>
                                    <div class="vertical-container"
                                        *ngIf="gFields.fields != null && gFields.fields.length > 0">
                                        @for (gField of gFields.fields; track gField) {

                                        <div class="horizontal-container" [ngSwitch]="gField.inputType"  *ngIf="!gField.hidden">
                                            <div class="horizontal-control-container" *ngSwitchCase="'INPUT'" >
                                                <mat-label>{{gField.label}}</mat-label>
                                                <br />
                                                <input matInput id={{gField.code}} placeholder={{gField.placeholder}} />
                                                <br />
                                            </div>

                                            <div class="horizontal-control-container" *ngSwitchCase="'APPAUTOCOMPLETE'">
                                                <mat-label>{{gField.label}}</mat-label>
                                                <br />
                                                <mat-select matInput id={{gField.code}}
                                                    placeholder={{gField.placeholder}} />
                                                <br />
                                            </div>

                                            <div class="horizontal-control-container" *ngSwitchCase="'CHECKBOX_GROUP'">
                                                <mat-label>{{gField.label}}</mat-label>
                                                <br />
                                                @for (cField1 of gField.childTemplateFields; track cField1) {
                                                <mat-checkbox>{{cField1.label}}</mat-checkbox>
                                                }
                                                <br />
                                            </div>
                                        </div>
                                        }

                                        <button mat-icon-button matTooltip="Edit Field." 
                                            (click)="deleteFieldProperty(templateField, gFields)">
                                            <mat-icon>delete</mat-icon>
                                        </button>

                                    </div>
                                </mat-card-content>
                            </mat-card>
                            <br />

                            }

                            <button mat-icon-button matTooltip="Edit Field." (click)="addFieldProperty(templateField)" >
                                <mat-icon>add</mat-icon>
                            </button>
                            {{templateSection.buttonLabel}}

                        </div>

                        <!-- <textbox *ngSwitchCase="'text'" [field]="field" [form]="form"></textbox>
              <dropdown *ngSwitchCase="'dropdown'" [field]="field" [form]="form"></dropdown>
              <checkbox *ngSwitchCase="'checkbox'" [field]="field" [form]="form"></checkbox>
              <radio *ngSwitchCase="'radio'" [field]="field" [form]="form"></radio>
              <file *ngSwitchCase="'file'" [field]="field" [form]="form"></file>
              <div class="alert alert-danger my-1 p-2 fadeInDown animated" *ngIf="!isValid && isDirty">{{field.label}} is required</div> -->
                    </div>
                    }
                </div>
                }
            </mat-card-content>
        </mat-card>
        <br>
        }
    </mat-list>
</div>