<div class="d-flex justify-content-between">
    <p-treeTable [value]="files" [paginator]="true" [rows]="5" [rowsPerPageOptions]="[5, 10, 25]" [scrollable]="true"
        [tableStyle]="{'min-width':'50rem'}">
        <ng-template pTemplate="header" let-columns>
            <tr>
                <th *ngFor="let col of columns">
                    {{ col.header }}
                </th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-rowNode let-rowData="rowData" let-columns="columns">
            <tr [ttRow]="rowNode">
                <td>
                    <p-treeTableToggler [rowNode]="rowNode" />
                    <label *ngIf="rowData.title !== undefined" [style]="{ 'text-align': 'left' }">{{ rowData.title
                        }}</label>
                    <label *ngIf="rowData.version !== undefined" [style]="{ 'text-align': 'left' }">Version : {{
                        rowData.version }}</label>
                    <ng-container *ngIf="rowData.version !== undefined">
                        <p-button icon="pi pi-pencil" [style]="{ 'margin-left': '.35em' }"
                            (click)="viewTemplateVersions(rowData)" />
                    </ng-container>
                </td>
            </tr>
        </ng-template>
        <ng-template pTemplate="summary">
            <div style="text-align:left">
                <p-button icon="pi pi-plus" label="Add" severity="warning" />
            </div>
        </ng-template>
    </p-treeTable>
</div>