<div class="Mowpheight w100">
    <div class="text-center">
        <div class="col-lg-12 no-padding blank-height">
            <div class="tab-pane">
                <div class="blank-page-image-Discussion-Dashboard discussmargin"></div>
                <h3 class="tab-pane-title">No Memorandum of Work Performed has been added yet.</h3>
                <p class="tab-pane-text">When the Interoffice Instructions require a Memorandum of Work Performed to be
                    submitted to the Group team in conjunction with each Component team’s interoffice reporting, a
                    Memorandum of Work Performed template should be configured here.</p>
                <p class="tab-pane-text">The Group team should choose the appropriate Memorandum of Work Performed
                    template to be used by Component teams in conjunction with their interoffice reporting.</p>

            </div>
        </div>
    </div>
</div>


<div class="container w100 no-padding" id="MOWPCards">
    <div class="col-lg-12 mbx20 mtx20" >
      <div>
        <div class="wizard-heading text-ellipsis">
          <span>
            Memoranda of Work Performed
          </span>          
        </div>
      </div>

  
      <div class="col-lg-6 mbx10 prx10" pull-right>
        <a id="addSvg" class="pull-right" title="Add">
          
        </a>  
      </div>
    </div>
    <div class="col-lg-12 no-padding">
      
    </div>
  </div>