<p-toast />

<p-toolbar styleClass="mb-4 gap-2">
    <ng-template pTemplate="left">
        <p-button severity="success" label="New" icon="pi pi-plus" class="mr-2" (onClick)="openNew()" />
        <p-button severity="danger" label="Delete" icon="pi pi-trash" (onClick)="deleteSelectedProducts()"
            [disabled]="!selectedTemplates || !selectedTemplates.length" />
    </ng-template>

    <ng-template pTemplate="right">
        <p-fileUpload mode="basic" accept="image/*" [maxFileSize]="1000000" label="Import" chooseLabel="Import"
            class="mr-2 inline-block" />
        <p-button severity="help" label="Export" icon="pi pi-upload" />
    </ng-template>
</p-toolbar>


<p-table #dt [value]="templates" [rows]="10" [paginator]="true" [globalFilterFields]="['id', 'title', 'code']"
    [tableStyle]="{ 'min-width': '75rem' }" [(selection)]="selectedTemplates" [rowHover]="true" dataKey="id"
    currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries" [showCurrentPageReport]="true">
    <ng-template pTemplate="caption">
        <div class="flex align-items-center justify-content-between">
            <h5 class="m-0">Manage Templates</h5>
            <span class="p-input-icon-left">
                <i class="pi pi-search"></i>
                <!-- <input 
                pInputText 
                type="text" 
                (input)="dt.filterGlobal($event.target.value , 'contains')" 
                placeholder="Search..." /> -->
            </span>
        </div>
    </ng-template>
    <ng-template pTemplate="header">
        <tr>
            <th style="width: 4rem">
                <p-tableHeaderCheckbox />
            </th>
            <th pSortableColumn="id" style="min-width:15rem">
                Id <p-sortIcon field="id" />
            </th>
            <th pSortableColumn="title" style="min-width:15rem">
                Title <p-sortIcon field="title" />
            </th>
            <th pSortableColumn="code" style="min-width:15rem">
                Code <p-sortIcon field="code" />
            </th>

            <th></th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-template>
        <tr>
            <td>
                <p-tableCheckbox [value]="template" />
            </td>
            <td>
                {{ template.id }}
            </td>
            <td>
                {{ template.title }}
            </td>
            <td>
                {{ template.code }}
            </td>
            <td>
                <p-button icon="pi pi-pencil" class="mr-2" [rounded]="true" [outlined]="true" severity="success"
                    (onClick)="editProduct(template)" />
                <p-button icon="pi pi-trash" severity="danger" [rounded]="true" [outlined]="true"
                    (onClick)="deleteProduct(template)" />
            </td>
        </tr>
    </ng-template>
    <ng-template pTemplate="summary">
        <div class="flex align-items-center justify-content-between">
            In total there are {{ templates ? templates.length : 0 }} products.
        </div>
    </ng-template>


    <p-dialog 
        [(visible)]="productDialog" 
        [style]="{ width: '450px' }" 
        header="Template Details" 
        [modal]="true" 
        styleClass="p-fluid">
            <ng-template pTemplate="content">
                <!-- <img 
                    [src]="'https://primefaces.org/cdn/primeng/images/demo/product/' + product.image" 
                    [alt]="product.image" 
                    class="block m-auto pb-3" 
                    *ngIf="product.image" /> -->
                <div class="field">
                    <label for="title">Title</label>
                    <input 
                        type="text" 
                        pInputText 
                        id="title" 
                        [(ngModel)]="template.title" 
                        required 
                        autofocus />
                    <small class="p-error" *ngIf="submitted && !template.title">
                        Title is required.
                    </small>
                </div>
                <div class="field">
                    <label for="code">Code</label>
                    <textarea 
                        id="code" 
                        pInputTextarea 
                        [(ngModel)]="template.code" 
                        required 
                        rows="3" 
                        cols="20">
                    </textarea>
                </div>

            </ng-template>

            <ng-template pTemplate="footer">
                <p-button 
                    label="Cancel" 
                    icon="pi pi-times" 
                    [text]="true" 
                    (onClick)="hideDialog()" />
                <p-button
                    label="Save" 
                    icon="pi pi-check" 
                    [text]="true" 
                    (onClick)="saveProduct()" />
            </ng-template>
    </p-dialog>


    <p-confirmDialog [style]="{ width: '450px' }" />
</p-table>