<div class="create-template-form m-3 p-4">
    <form>
        <div class="row">
            <div class="col-md-3">
                <mat-form-field appearance="outline">
                    <mat-label>Title</mat-label>
                    <input matInput placeholder="Enter title">
                    <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
                </mat-form-field>
            </div>
            <div class="col-md-3">
                <mat-form-field appearance="outline">
                    <mat-label>Code</mat-label>
                    <input matInput placeholder="Enter code">
                    <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
                </mat-form-field>
            </div>
            <div class="col-md-3">
                <mat-form-field appearance="outline">
                    <mat-label>Alias Name</mat-label>
                    <input matInput placeholder="Enter Alias name">
                    <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
                </mat-form-field>
            </div>
            <div class="col-md-3">
                <mat-form-field appearance="outline">
                    <mat-label>Select template type</mat-label>
                    <mat-select>
                      <mat-option>None</mat-option>
                      <mat-option value="1">AoR</mat-option>
                      <mat-option value="2">MoWP</mat-option>
                      <mat-option value="3">Confirmation</mat-option>
                    </mat-select>
                    <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
                  </mat-form-field>
            </div>
        </div>
    </form>
</div>