<div class="d-flex justify-content-between">
  <mat-sidenav-container class="example-container">
    <mat-sidenav class="mat-sidenav" #sidenRight mode="side" position="start" opened>
      <mat-toolbar>
        <button mat-icon-button class="example-icon" (click)="sidenRight.toggle()"
          aria-label="Example icon-button with menu icon">
          <mat-icon>menu</mat-icon>
        </button>
        <span>Controls</span>
      </mat-toolbar>
      <div class="example-container">
        <div class="example-right-container">
          <button mat-icon-button (click)="addPanelProperty()" matTooltip="Add Panel to the template.">
            <mat-icon>add</mat-icon>
          </button>
        </div>

        <mat-accordion>
          @for (templatePanel of templatePanels; track templatePanel) {
          <mat-expansion-panel class="mat-expansion-indicator">
            <mat-expansion-panel-header>
              <mat-panel-title>
                <mat-icon>article</mat-icon>
                Panel: {{templatePanel.name}}
              </mat-panel-title>
              <div class="example-right-container">
                <button mat-icon-button (click)="editPanelProperty(templatePanel)" matTooltip="Edit Panel.">
                  <mat-icon>edit</mat-icon>
                </button>
                <button mat-icon-button (click)="deletePanelProperty(templatePanel)" matTooltip="Delete Panel.">
                  <mat-icon>delete</mat-icon>
                </button>
              </div>
            </mat-expansion-panel-header>

            <div class="container">
              <p>
                Hint Name:
                {{templatePanel.hintName}}
              </p>

              <div class="example-right-container">
                <button mat-icon-button (click)="addSectionProperty(templatePanel)"
                  matTooltip="Add Section to the panel.">
                  <mat-icon>add</mat-icon>
                </button>
              </div>

              @for (templateSection of templatePanel.templateSections; track templateSection) {
              <mat-expansion-panel class="mat-expansion-indicator">
                <mat-expansion-panel-header>
                  <mat-panel-title>
                    <mat-icon>backup_table</mat-icon>
                    Section: {{templateSection.sectionName}}
                  </mat-panel-title>
                  <div class="example-right-container">
                    <button mat-icon-button (click)="editSectionProperty(templateSection)" matTooltip="Edit Section.">
                      <mat-icon>edit</mat-icon>
                    </button>
                    <button mat-icon-button (click)="deleteSectionProperty(templateSection)"
                      matTooltip="Delete Section.">
                      <mat-icon>delete</mat-icon>
                    </button>
                  </div>
                </mat-expansion-panel-header>

                <div>

                  <p>
                    Array name:
                    {{templateSection.arrayName}}
                  </p>

                  <div class="example-right-container">
                    <button mat-icon-button (click)="addFieldProperty(templateSection)"
                      matTooltip="Add Field to the section.">
                      <mat-icon>add</mat-icon>
                    </button>
                  </div>

                  @for (templateField of templateSection.templateFields; track templateField) {
                  <mat-expansion-panel class="mat-expansion-indicator">
                    <mat-expansion-panel-header>
                      <mat-panel-title>
                        <mat-icon>rtt</mat-icon>
                        Field: {{templateField.code}}
                      </mat-panel-title>

                      <div class="example-right-container">
                        <button mat-icon-button (click)="editFieldProperty(templateField)" matTooltip="Edit field.">
                          <mat-icon>edit</mat-icon>
                        </button>
                        <button mat-icon-button (click)="deleteFieldProperty(templateField)" matTooltip="Delete field.">
                          <mat-icon>delete</mat-icon>
                        </button>
                      </div>
                    </mat-expansion-panel-header>
                    <!-- 
                    <div>

                      <p>
                        <Label></Label>
                        Label : {{templateField.label}}
                      </p>
                    </div> -->
                  </mat-expansion-panel>
                  }
                </div>
              </mat-expansion-panel>
              }
            </div>
          </mat-expansion-panel>

          }
        </mat-accordion>
      </div>
    </mat-sidenav>

    <mat-sidenav-content>
      <mat-toolbar>
        <button mat-icon-button class="example-icon" (click)="sidenRight.toggle()" *ngIf="!sidenRight.opened"
          aria-label="Example icon-button with menu icon">
          <mat-icon>menu</mat-icon>
        </button>
        <span *ngIf="!sidenRight.opened">Controls</span>

        <button mat-icon-button class="example-icon" (click)="togglePreviewSidenav()"
          aria-label="Example icon-button with menu icon">
          <mat-icon>preview</mat-icon>
          Preview
        </button>
      </mat-toolbar>

      <div class="example-container">
        <div class="example-container" *ngIf="isTemplatePanel" id="selectedPanelDiv">
          <form [formGroup]="templatePanelForm">
            <h6>Panel Details</h6>
            <div class="example-right-container">
              <button mat-icon-button (click)="savePanelProperty()" matTooltip="Save panel.">
                <mat-icon>save</mat-icon>
              </button>
              <button mat-icon-button (click)="cancelProperty()" matTooltip="Cancel edit panel.">
                <mat-icon>cancel</mat-icon>
              </button>
            </div>
            <mat-form-field appearance="outline" class="example-full-width">
              <mat-label>Panel Name</mat-label>
              <input matInput #input placeholder="Enter Panel Name" formControlName="name" required />
            </mat-form-field>

            <mat-form-field appearance="outline" class="example-full-width">
              <mat-label>Hint</mat-label>
              <textarea matInput placeholder="Enter Hint" formControlName="hintName"></textarea>
            </mat-form-field>

            <mat-form-field appearance="outline" class="example-full-width">
              <mat-label>Row</mat-label>
              <input matInput #input type="number" placeholder="Enter Row" formControlName="row" required />
            </mat-form-field>

            <mat-form-field appearance="outline" class="example-full-width">
              <mat-label>Order</mat-label>
              <input matInput #input type="number" placeholder="Enter Order" formControlName="order" required />
            </mat-form-field>
          </form>
        </div>

        <div class="example-container" *ngIf="isTemplateSection">
          <form [formGroup]="templateSectionForm">
            <h6>Section Details</h6>
            <div class="example-right-container">
              <button mat-icon-button (click)="saveSectionProperty()" matTooltip="Save section.">
                <mat-icon>save</mat-icon>
              </button>
              <button mat-icon-button (click)="cancelProperty()" matTooltip="Cancel edit section.">
                <mat-icon>cancel</mat-icon>
              </button>
            </div>
            <mat-form-field appearance="outline" class="example-full-width">
              <mat-label>Section Name</mat-label>
              <input matInput #input maxlength="10" placeholder="Enter Section Name" formControlName="sectionName"
                required />
            </mat-form-field>

            <mat-form-field appearance="outline" class="example-full-width">
              <mat-label>Array Name</mat-label>
              <input matInput #input placeholder="Enter Array Name" formControlName="arrayName" />
            </mat-form-field>

            <mat-form-field appearance="outline" class="example-full-width">
              <mat-label>Row</mat-label>
              <input matInput #input placeholder="Enter Row" formControlName="row" />
            </mat-form-field>

            <mat-form-field appearance="outline" class="example-full-width">
              <mat-label>Order</mat-label>
              <input matInput #input placeholder="Enter Order" formControlName="order" />
            </mat-form-field>

            <mat-checkbox class="example-full-width" formControlName="config">Config</mat-checkbox>

            <mat-checkbox class="example-full-width" formControlName="showButton">Show Button</mat-checkbox>

            <mat-checkbox class="example-full-width" formControlName="showHeader">Show Header</mat-checkbox>

            <mat-form-field appearance="outline" class="example-full-width">
              <mat-label>Header</mat-label>
              <input matInput #input placeholder="Enter Header" formControlName="sectionHeader" />
            </mat-form-field>

            <mat-form-field appearance="outline" class="example-full-width">
              <mat-label>Hint</mat-label>
              <textarea matInput placeholder="Enter Hint" formControlName="hintName"></textarea>
            </mat-form-field>

            <mat-checkbox class="example-full-width" formControlName="hideHint">Hide Hint</mat-checkbox>

            <mat-form-field appearance="outline" class="example-full-width">
              <mat-label>Button Label</mat-label>
              <input matInput #input placeholder="Enter Button label" formControlName="buttonLabel" />
            </mat-form-field>

            <mat-form-field appearance="outline" class="example-full-width">
              <mat-label>CT Header</mat-label>
              <input matInput #input placeholder="Enter Ct header" formControlName="ctHeader" />
            </mat-form-field>
          </form>
        </div>

        <div class="example-container" *ngIf="isTemplateField">
          <form [formGroup]="templateFieldForm">
            <h6>Field Details</h6>
            <div class="example-right-container">
              <button mat-icon-button (click)="saveFieldProperty()" matTooltip="Save field.">
                <mat-icon>save</mat-icon>
              </button>
              <button mat-icon-button (click)="cancelProperty()" matTooltip="Cancel edit field.">
                <mat-icon>cancel</mat-icon>
              </button>
            </div>
            <mat-form-field appearance="outline" class="example-full-width">
              <mat-label>Caption</mat-label>
              <input matInput #input maxlength="10" placeholder="Enter Caption" formControlName="caption" />
            </mat-form-field>

            <mat-form-field appearance="outline" class="example-full-width">
              <mat-label>Code</mat-label>
              <input matInput #input placeholder="Enter Code" formControlName="code" required pattern="/\s/" />
            </mat-form-field>

            <mat-form-field appearance="outline" class="example-full-width">
              <mat-label>Row</mat-label>
              <input matInput #input placeholder="Enter Row" formControlName="row" />
            </mat-form-field>

            <mat-form-field appearance="outline" class="example-full-width">
              <mat-label>Order</mat-label>
              <input matInput #input placeholder="Enter Order" formControlName="order" />
            </mat-form-field>

            <mat-form-field appearance="outline" class="example-full-width">
              <mat-label>Input Type</mat-label>
              <mat-select matInput #input formControlName="inputType" placeholder="Enter input type" required>
                <mat-option value="INPUT">INPUT</mat-option>
                <mat-option value="APPCALENDAR">CALENDAR</mat-option>
                <mat-option value="ARRAY">ARRAY</mat-option>
                <mat-option value="CHECKBOX_GROUP">CHECKBOX GROUP</mat-option>
                <mat-option value="HINTPANEL">HINT PANEL</mat-option>
                <mat-option value="RADIO_GROUP">RADIO GROUP</mat-option>
                <mat-option value="CHECKBOX">CHECKBOX</mat-option>
                <mat-option value="APPAUTOCOMPLETE">AUTO COMPLETE</mat-option>
              </mat-select>
            </mat-form-field>

            <mat-form-field appearance="outline" class="example-full-width">
              <mat-label>Label</mat-label>
              <input matInput #input placeholder="Enter label" formControlName="label" />
            </mat-form-field>

            <mat-form-field appearance="outline" class="example-full-width">
              <mat-label>Validators</mat-label>
              <input matInput #input placeholder="Enter Valiators" formControlName="validators" />
            </mat-form-field>

            <mat-form-field appearance="outline" class="example-full-width">
              <mat-label>Options</mat-label>
              <input matInput #input placeholder="Enter Options" formControlName="options" />
            </mat-form-field>

            <mat-form-field appearance="outline" class="example-full-width">
              <mat-label>Placeholder</mat-label>
              <input matInput #input placeholder="Enter Placeholder" formControlName="placeholder" />
            </mat-form-field>

            <mat-form-field appearance="outline" class="example-full-width">
              <mat-label>Error Messages</mat-label>
              <input matInput #input placeholder="Enter Error Message" formControlName="errorMessages" />
            </mat-form-field>

            <mat-form-field appearance="outline" class="example-full-width">
              <mat-label>Max Length</mat-label>
              <input matInput #input placeholder="Enter Max Length" formControlName="maxLength" />
            </mat-form-field>

            <mat-form-field appearance="outline" class="example-full-width">
              <mat-label>Hidden</mat-label>
              <input matInput #input placeholder="Enter Hidden" />
            </mat-form-field>
          </form>
        </div>
      </div>


    </mat-sidenav-content>

    <mat-sidenav class="mat-right-sidenav" #sideLeft mode="over" position="end" [opened]="isPreviewing">
      <mat-toolbar>
        <button mat-icon-button class="example-icon" (click)="togglePreviewSidenav()"
          aria-label="Example icon-button with menu icon">
          <mat-icon>close</mat-icon>
        </button>
        <span>Preview</span>
      </mat-toolbar>


      <div class="example-container">
        <!-- <app-create-template-panel [templatePanels]="templatePanels" *ngIf="templatePanels"/> -->

        <mat-list #previewPanels>
          @for (templatePanel of templatePanels; track templatePanel) {
          <mat-card appearance="outlined">
            <mat-card-header>
              <mat-card-title>{{templatePanel.name}}</mat-card-title>
              <!-- <button mat-icon-button (click)="editPanelProperty(templatePanel)" matTooltip="Edit Panel.">
                <mat-icon>edit</mat-icon>
              </button> -->
            </mat-card-header>

            <mat-card-content>
              <mat-divider></mat-divider>
              <p>{{templatePanel.hintName}}</p>
              <br />

              @for (templateSection of templatePanel.templateSections; track templateSection) {
              <div id={{templateSection.sectionName}}>
                <!-- <button mat-icon-button (click)="editSectionProperty(templateSection)" matTooltip="Edit Section.">
                  <mat-icon>edit</mat-icon>
                </button> -->
                <div *ngIf="templateSection.showHeader">
                  <h6>{{templateSection.sectionHeader}}</h6>
                  <mat-divider></mat-divider>
                  <p>{{templateSection.hintName}}</p>
                  <br />
                </div>

                @for (templateField of templateSection.templateFields; track templateField) {
                <div [ngSwitch]="templateField.inputType">
                  <div *ngSwitchCase="'RADIO_GROUP'">
                    <!-- <button mat-icon-button (click)="editFieldProperty(templateField)" matTooltip="Edit Field.">
                      <mat-icon>edit</mat-icon>
                    </button> -->
                    <mat-label>{{templateField.label}}</mat-label>
                    <br />
                    <mat-radio-group id={{templateField.id}}>
                      @for (templateOption of templateField.optionItems; track templateOption) {
                      <mat-radio-button [value]="templateOption.value">{{templateOption.label}}</mat-radio-button>
                      }
                    </mat-radio-group>
                    <br />
                  </div>


                  <div *ngSwitchCase="'INPUT'">
                    <!-- <button mat-icon-button (click)="editFieldProperty(templateField)" matTooltip="Edit Field.">
                      <mat-icon>edit</mat-icon>
                    </button> -->
                    <mat-label>{{templateField.label}}</mat-label>
                    <br />
                    <input matInput id={{templateField.id}} placeholder={{templateField.placeholder}} />
                    <br />
                  </div>


                  <div *ngSwitchCase="'APPAUTOCOMPLETE'">
                    <!-- <button mat-icon-button (click)="editFieldProperty(templateField)" matTooltip="Edit Field.">
                      <mat-icon>edit</mat-icon>
                    </button> -->
                    <mat-label>{{templateField.label}}</mat-label>
                    <br />
                    <mat-select matInput id={{templateField.id}} placeholder={{templateField.placeholder}} />
                    <br />
                  </div>


                  <div *ngSwitchCase="'APPCALENDAR'">
                    <!-- <button mat-icon-button (click)="editFieldProperty(templateField)" matTooltip="Edit Field.">
                      <mat-icon>edit</mat-icon>
                    </button> -->
                    <mat-label>{{templateField.label}}</mat-label>
                    <br />
                    <!-- <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle> -->
                    <mat-datepicker-toggle matIconSuffix></mat-datepicker-toggle>
                    <mat-datepicker matInput id={{templateField.id}} #templateField.id></mat-datepicker>
                    <br />
                  </div>


                  <div *ngSwitchCase="'CHECKBOX_GROUP'">
                    <!-- <button mat-icon-button (click)="editFieldProperty(templateField)" matTooltip="Edit Field.">
                      <mat-icon>edit</mat-icon>
                    </button> -->
                    <mat-label>{{templateField.label}}</mat-label>
                    <br />
                    <!-- <mat-select matInput id={{templateField.id}} placeholder={{templateField.placeholder}}/> -->
                    @for (cField of templateField.childTemplateFields; track cField) {
                    <mat-checkbox>{{cField.label}}</mat-checkbox>
                    <br />
                    }
                  </div>

                  <!-- <textbox *ngSwitchCase="'text'" [field]="field" [form]="form"></textbox>
                  <dropdown *ngSwitchCase="'dropdown'" [field]="field" [form]="form"></dropdown>
                  <checkbox *ngSwitchCase="'checkbox'" [field]="field" [form]="form"></checkbox>
                  <radio *ngSwitchCase="'radio'" [field]="field" [form]="form"></radio>
                  <file *ngSwitchCase="'file'" [field]="field" [form]="form"></file>
                  <div class="alert alert-danger my-1 p-2 fadeInDown animated" *ngIf="!isValid && isDirty">{{field.label}} is required</div> -->
                  <br />
                </div>
                }
              </div>
              }
            </mat-card-content>
          </mat-card>
          <br>
          }
        </mat-list>


      </div>
    </mat-sidenav>

  </mat-sidenav-container>
</div>